/*
Dark gray: #2f2f2f
Blue: #465c69
Orange: #e27e5f
Green: #8e9b90
Light-Green: #92b4a7
White: #e8f1f2
*/

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Muli', 'Arial', sans-serif;
	font-size: 62.5%;
	background-color: #2f2f2f;
	color: #e8f1f2;
}

a {
	text-decoration: none;
	color: #e8f1f2;
}

h1 {
	margin-left: 40px;
	color: #465c69;
	text-shadow: .5px .5px 2px #465c69;
	font-size: 6rem;
}

h2 {
	margin-left: 50px;
	font-size: 2.5rem;
	text-shadow: .5px .5px 1px #465c69;
	color: #e8f1f2;
}

h3 {
	margin: 20px;
}

ul {
	list-style: none;
	width: 80%;
}

li {
	text-align: center;
	border: 1px solid transparent;
	transition: all .3s;
	padding: 20px;
}

li:hover {
	border: 1px solid #e8f1f2;
	transform: translateY(-3px);
	color: #92b4a7;
}

.nav {
	padding: 20px;
	border: 2px solid #465c69;
	border-radius: 1.5rem;
	font-size: 1.5rem;
}

.date {
	color: #92b4a7;
	font-size: 2rem;
}

.period {
	color: #e8f1f2;
}

.codes {
	color: #92b4a7;
}

.main {
	margin: 30px auto;
	width: 90vw;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-gap: 20px;
}

.post {
	border: 2px solid #465c69;
	border-radius: 1.5rem;
}

.post-container {
	font-size: 1.3rem;
}

.post-title {
	color: #e8f1f2b4;
	text-shadow: .5px .5px 1px #465c69;
}

.post-p {
	margin: 20px;
}

.post-p::first-line {
	color: #e8f1f2b4;
	font-weight: bolder;
}

.hashtags {
	text-align: end;
}
.post-hashtags {
	margin: 20px;
	color: #92b4a7;
}

footer {
	text-align: center;
	font-size: 3rem;
}

i {
	transition: all .3s;
}

i:hover {
	color: #e27e5f;
}

@media all and (max-width: 1100px) {
	ul.nav {
		margin: 20px auto;
	}
	li {
		margin: 0 auto;
		width: 50%;
	}
	.main {
		grid-template-columns: 90vw;
	}
}

@media all and (max-width: 715px) {
	h1 {
		font-size: 4.3rem;
	}
	h2 {
		font-size: 2rem;
	}
}
