:root {
	--dark-gray: #2f2f2f;
	--blue: #465c69;
	--orange: #e27e5f;
	--green: #8e9b90;
	--light-green: #92b4a7;
	--white: #e8f1f2;
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Muli', 'Arial', sans-serif;
	font-size: 62.5%;
	background-color: var(--dark-gray);
	color: var(--white);
}

a {
	text-decoration: none;
	color: var(--white);
}

h1 {
	margin-left: 40px;
	color: var(--blue);
	text-shadow: .5px .5px 2px var(--blue);
	font-size: 6rem;
}

h2 {
	margin-left: 50px;
	font-size: 2.5rem;
	text-shadow: .5px .5px 1px var(--blue);
	color: var(--white);
}

h3 {
	margin: 20px;
}

ul {
	list-style: none;
	width: 80%;
}

li {
	text-align: center;
	border: 1px solid transparent;
	border-radius: 1rem;
	transition: all .3s;
	padding: 20px;
}

li:hover {
	border: 1px solid var(--white);
	background-color: var(--light-green);
	transform: translateY(-3px);
	color: var(--dark-gray);
}

li.active {
	border: 1px solid var(--white);
	transform: translateY(-3px);
	color: var(--white);
}

hr {
	width: 60%;
	margin: 0 auto;
	margin-top: 10px;
}

.nav {
	padding: 20px;
	border: 2px solid var(--blue);
	border-radius: 1.5rem;
	font-size: 1.5rem;
}

.date {
	color: var(--light-green);
	font-size: 2rem;
}

.period {
	color: var(--white);
}

.codes {
	color: var(--light-green);
}

.main {
	margin: 30px auto;
	width: 90vw;
	display: grid;
	grid-template-columns: 20% 80%;
	gap: 30px;
}

.post {
	border: 2px solid var(--blue);
	border-radius: 1.5rem;
}

.post-container {
	font-size: 1.3rem;
}

.post-title {
	color: var(--white);
	text-shadow: 1px 1px 1.5px var(--blue);
}

.post-p {
	margin: 20px;
}

.post-p::first-line {
	color: var(--white)b4;
	font-weight: bolder;
}

.hashtags {
	text-align: end;
}
.post-hashtags {
	margin: 20px;
	color: var(--light-green);
}

footer {
	text-align: center;
	font-size: 3rem;
}

i {
	transition: all .3s;
}

i:hover {
	color: var(--orange);
}

@media all and (max-width: 1100px) {
	ul.nav {
		margin: 20px auto;
	}
	li {
		margin: 0 auto;
		width: 70%;
	}
	.main {
		grid-template-columns: 90vw;
	}
}

@media all and (max-width: 715px) {
	h1 {
		font-size: 4.3rem;
	}
	h2 {
		font-size: 2rem;
	}
}
