:root {
	--dark-gray: #2f2f2f;
	--blue: #465c69;
	--orange: #e27e5f;
	--green: #8e9b90;
	--light-green: #92b4a7;
	--white: #e8f1f2;
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Muli', 'Arial', sans-serif;
	font-size: 62.5%;
	background-color: rgb(200, 200, 200);
	color: var(--dark-gray);
}

a {
	text-decoration: none;
	color: var(--blue);
}

h1 {
	margin-left: 40px;
	color: var(--blue);
	text-shadow: .5px .5px 2px var(--blue);
	font-size: 4rem;
}

.period {
	color: var(--white);
	filter: brightness(80%);
}

.codes {
	color: var(--light-green);
}

h3 {
	margin: 20px;
}

.title {
	background-color: var(--dark-gray);
	border-bottom: 2px solid var(--blue);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.nav {
	padding: 20px;
	font-size: 1.5rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

li {
	display: inline;
	text-align: center;
	border: 1px solid transparent;
	transition: all .3s;
	padding: 20px;
}

li:hover {
	background-color: var(--dark-gray);
	filter: brightness(110%);
	transform: translateY(-5px);
	color: var(--white);
}
li:active {
	box-shadow: 1px 1px 1px var(--dark-gray);
}

li.active {
	border: 1px solid var(--white);
	filter: brightness(90%);
	transform: translateY(0);
	color: var(--light-green);
}

.fa-user {
	font-size: 2rem;
}

hr {
	width: 60%;
	margin: 0 auto;
	margin-top: 10px;
}

.date {
	color: var(--light-green);
	font-size: 2rem;
}

.main {
	font-family: 'Roboto Mono', monospace;
	background-color: rgb(230, 230, 230);
	margin: 30px auto;
	width: 90vw;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: 90vw;
}

.post-container {
	font-size: 1.3rem;
}

.post-title {
	letter-spacing: .5rem;
	font-size: 2rem;
	color: var(--blue);
}

.post-p {
	margin: 20px;
}

.post-p::first-line {
	color: var(--white)b4;
	font-weight: bolder;
}

.hashtags {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 30px;
	align-items: center;
	font-size: 1.5rem;
}
.post-hashtags {
	margin: 20px;
	color: var(--orange);
}

footer {
	text-align: center;
	font-size: 3rem;
}

i {
	transition: all .3s;
}

i:hover {
	color: var(--orange);
}

@media all and (max-width: 715px) {
	h1 {
		font-size: 3.5rem;
	}
	.fa-user {
		font-size: 1.2rem;
	}
	.nav {
		font-size: 1rem;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

@media all and (max-width: 600px) {
	h1 {
		font-size: 3rem;
	}
	.title {
		flex-direction: column;
	}
	.nav {
		font-size: 1rem;
		padding: 15px;
	}
	.post-container {
		font-size: 1rem;
	}
}
